.field {
    display: flex;
    flex-direction: column;
    font-style: italic; 
    width: 300px;
    margin: 20px auto 0;
    .label {
         position: absolute;
         color: #888;
         font-size: 12px;
         font-style: normal;  
         font-weight: 600;
     }
     input {
        border: none;
        border-bottom: 1px solid #979797;
        padding: 15px 0;
        width: 300px;
        background-color: #f9f9f9;    
     }
     input::-webkit-input-placeholder {
         font-size: 12px;
     }
 }